body {
    box-sizing: border-box;   
}

$tsWidth: 100px;
$tsHeight: 50px;
$tsCircleSize: 18px;
$tsCirclePosition: calc($tsWidth / 2 - $tsCircleSize);
$themeTransition: 1s;

.theme-switcher {
    position: fixed;

    & .content-switcher {
        /*width: $tsWidth;
        height: $tsHeight;
        border-radius: calc($tsHeight / 2);
        position: relative;
        overflow: hidden;*/

        & > div {
            position: absolute;
            height: 100%;
            width: 100%;

            &.day {
                background-image: url('./bg1.jpg');
                background-size: contain;
                clip-path: circle($tsCircleSize at $tsCirclePosition 50%);
                transition: .5s cubic-bezier(0,1,0,1);
            }

            &.night {
                background-image: url('./bg2.jpg');
                background-size: contain;
                transition: .5s cubic-bezier(0,1,0,1);

            }
            
        }


        &.theme_day_1 {
            & .day {
                transition: .5s cubic-bezier(1,0,1,0);
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) ) 50%);
            }
        }

        &.theme_day_2 {
            & .day {
                transition: .5s cubic-bezier(1,0,1,0);
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) ) 50%);
            }
            
            & .night {
                transition: .5s cubic-bezier(1,0,1,0);
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition + $tsCircleSize + $tsWidth * 10) 50%);
            }
        }

        &.theme_day {
            & .day {
                transition: .5s cubic-bezier(0,1,0,1);
                z-index: 900;
                clip-path: circle(calc($tsWidth * 10)  at calc($tsCircleSize - $tsWidth * 9) 50%);
            }
            
            & .night {
                transition: .5s cubic-bezier(0,1,0,1);
                z-index: 1000;
                clip-path: circle($tsCircleSize at calc($tsCirclePosition + $tsCircleSize * 2) 50%);
            }
        }


        &.theme_day_back-1 {
            & .day {
                transition: 0s;
                z-index: 900;
                clip-path: circle(calc($tsWidth * 10)  at calc($tsCircleSize - $tsWidth * 9) 50%);
            }
            
            & .night {
                transition: .5s cubic-bezier(1,0,1,0);
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition + $tsCircleSize + $tsWidth * 10) 50%);
                z-index: 1000;
            }
        }

        
        &.theme_day_back-2 {
            & .day {
                transition: 0s;
                z-index: 1000;
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) ) 50%);
            }
            
            & .night {
                transition: 0s;
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition + $tsCircleSize + $tsWidth * 10) 50%);
                z-index: 900;
            }
        }

    }
}
