body {
    box-sizing: border-box;   
}

$tsWidth: 100px;
$tsHeight: 50px;
$tsCircleSize: 20px;
$tsCirclePosition: 30px;
$themeTransition: 1s;

.theme-switcher {
    position: absolute;
    left: 600px;
    top: 200px;
    width: 300px;
    height: $tsHeight;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;


    & .content-switcher {
        width: $tsWidth;
        height: $tsHeight;
        border: 1px solid blue;
        background-color: #555;
        border-radius: 50px;
        position: relative;

        & > div {
            position: absolute;
            height: 100%;
            width: 100%;
            //transition: all $themeTransition ;

            &.day {
                background-image: url('./bg1.jpg');
                background-size: contain;
                clip-path: circle($tsCircleSize at $tsCirclePosition 50%);
                //transition: cubic-bezier(1,0,1,.63);
            }

            &.night {
                background-image: url('./bg2.jpg');
                background-size: contain;
            }
            
        }


        &.theme_day_1 {
            & .day {
                transition: .5s cubic-bezier(1,0,1,0);
                //transition: .5s;
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) ) 50%);
            }
        }

        &.theme_day_2 {
            & .day {
                transition: .5s cubic-bezier(1,0,1,0);
                display: block;
                //transition: 0s;
                //z-index: 1000;
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) ) 50%);
            }
            
            & .night {
                display: block;
                //transition: 0s;
                transition: .5s cubic-bezier(1,0,1,0);
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition + $tsCircleSize + $tsWidth * 10) 50%);
                //z-index: 900;
            }
        }

        &.theme_day {
            & .day {
                //display: block;
                transition: .5s;
                z-index: 900;
                clip-path: circle(calc($tsWidth * 10)  at calc( $tsCirclePosition - calc($tsWidth * 10 - $tsCircleSize) + 70px) 50%);
            }
            
            & .night {
                //display: block;
                transition: .5s;
                z-index: 1000;
                clip-path: circle($tsCircleSize at calc($tsCirclePosition + $tsCircleSize * 2) 50%);
            }
        }

    }
}
